.landing__page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.card__fields--container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
}

.card__container {
  width: 100%;
  height: 12.5rem;
  border-radius: 1rem;
  background-color: rgb(128, 128, 128);
  perspective: 1000px;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.space__around {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.chip__img {
  width: 2.5rem;
  height: 2.5rem;
}

.credit-card--type {
  font-size: 2rem;
  color: #fff;
}
.credit-card--type img {
  height: 2rem;
}

.centered {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__number {
  font-size: calc(0.5vw + 1.3rem);
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.validity__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validity__text {
  color: rgb(224, 224, 224);
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}

.validity__date {
  font-size: 1.4rem;
}

.user__name {
  font-size: calc(1rem + 0.2vw);

  max-width: 14rem;
  max-height: 3rem;
  overflow: hidden;
}

/* Card Flip Animation */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #bbb;
  color: white;
  transform: rotateY(180deg);
}

.flip__animation--card {
  transform: rotateY(180deg);
}

/* End of animation */

.black__div {
  width: 100%;
  height: 3rem;
  background-color: #000;
  margin-top: 1.2rem;
}

.cvc__container {
  width: 63%;
  margin-top: 0.7rem;
  height: 2.6rem;
  margin-left: 1rem;
  background-color: rgb(248, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.cvc__orange--line {
  width: 100%;
  height: 1px;
  background-color: rgb(235, 185, 21);
}

.cvc__value {
  position: absolute;
  color: #000;
  right: 0.3rem;
  top: 0.7rem;
  font-size: 1.1rem;
}

.save__button {
  width: 97%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid rgb(24, 143, 212);
  cursor: pointer;
  background-color: rgb(24, 143, 212);
  transition: all 0.3s;
  color: #fff;
  font-size: 1rem;
}

.save__button:hover {
  transform: scale(0.96);
}

/* MasterCard */
.mastercard {
  background: linear-gradient(to right, rgb(252, 144, 72) 50%, transparent 0);
  background-size: 200% 100%;
  background-position: right;
  animation: makeItfadeIn 1s forwards;
}

/* Visa */
.visa {
  background: linear-gradient(to right, rgb(20, 103, 199) 50%, transparent 0);
  background-size: 200% 100%;
  background-position: right;
  animation: makeItfadeIn 1s forwards;
}

@keyframes makeItfadeIn {
  100% {
    background-position: left;
  }
}

.errors__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error__span {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: calc(0.6 rem + 0.6vw);
  font-weight: 600;
  margin-top: 0.5rem;
}

@media screen and (max-width: 400px) {
  .user__name {
    max-width: 10rem;
    max-height: 2.6rem;
    overflow: hidden;
  }
}
